.myTasks-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.user-card{

    width: 25%;
    max-height: 500px;
    background-color:#7236B5;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10% 5%;
    text-align: center;
    border-radius: 15px;
}

.user-image{
    width: 50%;
    border-radius: 999px;
    overflow: hidden;
    margin-top: -25%;
    border: 8px solid #7236B5;
}

.user-image img{
    width: 100%;
}

.user-details h3{
    margin: 30% 0%;
    color: white;
}

.tasks{
    background-color: white;
    display: flex;
    flex-direction: column;
    margin: 5% 5%;
    width: 50%;
    height: auto;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 15px;
    padding: 2%;
}

.tasks-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.add-new{
    border: none;
    background-color: white;
    color: #7236B5;

    font-size: 1rem;
}

.tasks h2{
    color: #7236B5;
}

.user-task{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border: 2px solid lightgray;
    border-radius: 15px ;
    margin: 1% 0%;
}

.task-info{
    display: flex;
    flex-direction: row;
}
h4{
    margin: 0px 5px;
}

.task-buttons{
    margin-left: auto;
    display: flex;
    flex-direction: row;
}

button{
    margin: 0px 2px;
    cursor: pointer;
}

.delete{
background-color: white;
border: none;
color: red;    
}

.view{
    border: none;
    background-color: white;
    color: #7236B5;
}
a{
    text-decoration: none;
    color: #7236B5;
}